= content_tag :tr, id: "event-#{event._id}" do
  %tr
    %td 
      = event.host
    %td 
      = event.domain
    %td
      = event.property1
    %td
      = event.property2
    %td
      = event.created_on